.link-list {
    padding: 0;
}

.link-list-item {
    text-align: left;
    font-size: 18px;
    font-family: Courier New;
    font-weight: bold;
}

.link-list-item-url {
    text-decoration: none;
    margin: 6px;
    display: block;
    color: #1d1d1d;
    background-color: AliceBlue;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(34, 16, 102, 0.4);
}
